.selector-for-some-widget {
    box-sizing: content-box;
    font-size: 20px;
}

/* カラーリスト */
.bg-white {
    background-color: #fff;
}

.bg-green {
    background-color: #3cb371;
}

.bg-grey {
    background-color: #dcdcdc;
}

.txt-white {
    color: #fff;
}

.txt-black {
    color: #000;
}

.txt-green {
    color: #2e8b57;
}

.clicked {
    background-color: #acacac !important;
}

body {

    /* ヘッダー */
    header {

        background-color: #3cb371;

        a {
            font-family: 'Wawati SC',sans-serif;
            color: white !important;
        }

        #site-title {
            font-size: 1.8em;
        }

        .menu-item {
            font-size: 1.5em;
            padding-left: 20px !important;
        }
    }

    /* メイン画面 */
    .jumbotron { 
        background: url('img/main-background-image.png') center no-repeat; 
        background-size: cover;
        width: 100%;
        height: 700px;
        position: relative;


        .container {
            color: white;
            font-family: 'HanziPen SC',sans-serif;
            font-weight: bold;
            position: absolute;
            width: 100%;
            text-align: center;
            top:50%;
            left:50%;
            transform: translateY(-50%)translateX(-50%);
            transform: translateY(-50%)translateX(-50%);
            
            p {
                padding: 20px 0;
                line-height: 2;
                font-size: 1.3em;
            }

        }
    }

    /* 各カテゴリ */
    .category-1, .category-2, .category-3, .category-4, .category-5, .category-6, .category-7, .category-8  {
        padding: 2.0em 0 4.0em;
        color: white;

        h2 {
            text-align: center;
            padding: 40px 0;
            margin: 0;
            font-family: 'HanziPen SC',sans-serif;
            font-weight: bold;
        }

        ul {
            padding: 0;
            text-align: center;
            list-style:none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            li {
                border-radius: 50%;
                text-align: center;
                width: 250px;
                height: 250px;
                position: relative;
                margin: 20px;
    
                img {
                    margin: 0 auto;
                }
    
                #tree-size-1 {
                    width: 75%;
                    position: absolute;
                    top: 5%;
                    left: 13%;
                }
    
                #tree-size-2 {
                    width: 55%;
                    position: absolute;
                    top: 20%;
                    left: 23%;
                }
    
                #tree-size-3 {
                    width: 40%;
                    position: absolute;
                    top: 32%;
                    left: 29%;
                }
    
                #tree-size-4 {
                    width: 50%;
                    position: absolute;
                    top: 17%;
                    left: 25%;
                }

                .mark-question {
                    width: 40%;
                    position: absolute;
                    top: 20%;
                    left: 30%;
                } 
    
                p {
                    font-size: 1.2rem;
                    font-weight: bold;
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    line-height: 1.0em;
    
                    span {
                        font-size: 0.8em;
                    }
                }
            }

            .category-item {
                cursor: pointer;
            }
        }

        .form {
            text-align: center;
            margin: 0 auto;

            select {
                padding: 10px;
                margin-top: 10px;
                font-size: 20px;
            }
        }
    
    }

    .category-2 {
        #leaf-attachment-1 {
            width: 60%;
            position: absolute;
            top: 17%;
            left: 20%;
        }

        #leaf-attachment-2 {
            width: 60%;
            position: absolute;
            top: 15%;
            left: 20%;
        }

        #leaf-attachment-3 {
            width: 50%;
            position: absolute;
            top: 15%;
            left: 25%;
        }

        #leaf-attachment-4 {
            width: 45%;
            position: absolute;
            top: 7%;
            left: 24%;
        }
    }

    .category-3 {
        #leaf-pattern-1 {
            width: 25%;
            position: absolute;
            top: 15%;
            left: 38%;
        }

        #leaf-pattern-2 {
            width: 40%;
            position: absolute;
            top: 12%;
            left: 30%;
        }

        #leaf-pattern-3 {
            width: 45%;
            position: absolute;
            top: 5%;
            left: 27%;
        }

        #leaf-pattern-4 {
            width: 55%;
            position: absolute;
            top: 10%;
            left: 23%;
        }

        #leaf-pattern-5 {
            width: 60%;
            position: absolute;
            top: 17%;
            left: 20%;
        }
    }

    .category-4 {
        #leaf-shape-1 {
            width: 50%;
            position: absolute;
            top: 7%;
            left: 26%;
        }

        #leaf-shape-2 {
            width: 55%;
            position: absolute;
            top: 10%;
            left: 23%;
        }

        #leaf-shape-3 {
            width: 40%;
            position: absolute;
            top: 7%;
            left: 30%;
        }

        #leaf-shape-4 {
            width: 50%;
            position: absolute;
            top: 10%;
            left: 26%;
        }

        #leaf-shape-5 {
            width: 40%;
            position: absolute;
            top: 10%;
            left: 30%;
        }

        #leaf-shape-6 {
            width: 30%;
            position: absolute;
            top: 7%;
            left: 35%;
        }

        #leaf-shape-7 {
            width: 40%;
            position: absolute;
            top: 10%;
            left: 30%;
        }

        #leaf-shape-8 {
            width: 40%;
            position: absolute;
            top: 7%;
            left: 30%;
        }

        #leaf-shape-9 {
            width: 25%;
            position: absolute;
            top: 3%;
            left: 37%;
        }

        #leaf-shape-10 {
            width: 25%;
            position: absolute;
            top: 12%;
            left: 38%;
        }

        #leaf-shape-11 {
            width: 15%;
            position: absolute;
            top: 10%;
            left: 43%;
        }
    }

    .category-5 {
        #leaf-blade-1 {
            width: 30%;
            position: absolute;
            top: 11%;
            left: 34%;
        }

        #leaf-blade-2 {
            width: 50%;
            position: absolute;
            top: 10%;
            left: 24%;
        }

        #leaf-blade-3 {
            width: 55%;
            position: absolute;
            top: 10%;
            left: 22%;
        }

        #leaf-blade-4 {
            width: 55%;
            position: absolute;
            top: 12%;
            left: 23%;
        }

        #leaf-blade-5 {
            width: 40%;
            position: absolute;
            top: 10%;
            left: 31%;
        }
    }

    .category-6 {
        #leaf-edge-1 {
            width: 45%;
            position: absolute;
            top: 7%;
            left: 30%;
        }

        #leaf-edge-2 {
            width: 45%;
            position: absolute;
            top: 9%;
            left: 30%;
        }

        #leaf-edge-3 {
            width: 45%;
            position: absolute;
            top: 7%;
            left: 30%;
        }

        #leaf-edge-4 {
            width: 45%;
            position: absolute;
            top: 9%;
            left: 30%;
        }

        #leaf-edge-5 {
            width: 45%;
            position: absolute;
            top: 9%;
            left: 30%;
        }

        #leaf-edge-6 {
            width: 45%;
            position: absolute;
            top: 9%;
            left: 30%;
        }

        #leaf-edge-7 {
            width: 45%;
            position: absolute;
            top: 9%;
            left: 30%;
        }
    }

    .category-7 {
        #leaf-vein-1 {
            width: 35%;
            position: absolute;
            top: 10%;
            left: 33%;
        }

        #leaf-vein-2 {
            width: 35%;
            position: absolute;
            top: 9%;
            left: 33%;
        }

        #leaf-vein-3 {
            width: 35%;
            position: absolute;
            top: 3%;
            left: 33%;
        }

        #leaf-vein-4 {
            width: 45%;
            position: absolute;
            top: 13%;
            left: 27%;
        }
    }

    .category-8 {
        #leaf-lateral-vein-1 {
            width: 40%;
            position: absolute;
            top: 10%;
            left: 33%;
        }

        #leaf-lateral-vein-2 {
            width: 45%;
            position: absolute;
            top: 9%;
            left: 27%;
        }

        #leaf-lateral-vein-3 {
            width: 40%;
            position: absolute;
            top: 11%;
            left: 35%;
        }

        #leaf-lateral-vein-4 {
            width: 40%;
            position: absolute;
            top: 12%;
            left: 33%;
        }
    }

    /* 検索ボタン */
    .search-button {
        padding: 50px 0;
        text-align: center;

        input {
            font-family: 'Wawati SC',sans-serif;
            font-size: 30px;
            width: 200px;
            height: 100px;
            padding: 1.0em;
            text-align: center;
            margin: 0 auto;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
            transition: .4s;
            border-radius: 70% 0%;
        }
        
        input:hover {
            text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
            transition: .4s;
            color: #ffe88b;
        }
    }

    /* フッターメニュー */
    footer {
        height: auto;
        color: #fff;
        background-color: #3cb371;

        .container {
            max-width: 1200px;
            padding: 10px 20px;
            margin: 0 auto;
        }

        .footB {
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                text-align: center;
                margin: 0 auto;
                padding: 0;
                list-style: none;
            }

            a {
                display: block;
                padding: 0;
                padding-bottom: 2px;
                color: #fff;
                font-size: 18px;
                text-decoration: none;
                margin-right: 0px;
                border-bottom: 3px solid #3cb371;
                transition: 0.5s;
                letter-spacing: 3px;
            }

            a:hover {
                border-bottom: 3px solid #fff;
            }
        }

    }

    @media(min-width:1024px) {
        .footB ul {
            display: flex;
        }
    
        .footB a {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
    
    /* results.php */
    .results {
        h2 {
            text-align: center;
            padding: 40px 0;
            margin: 0 auto;
            font-family: 'HanziPen SC',sans-serif;
            font-weight: bold;
        }
    }

    .card-body {
        text-align: center;

        .btn-group {
            margin: 0 auto;
        }
    }

        h2 {
            text-align: center;
            padding: 40px 0;
            margin: 0 auto;
            font-family: 'HanziPen SC',sans-serif;
            font-weight: bold;
        }

    .tree-detail {
        margin-bottom: 50px;
        text-align: center;

            img {
                width: 40% !important;
                padding: 0 10px;
            }
    
        .feature {

            .feature-content {
                padding: 30px;
                text-align: center;

                p {
                    display: inline-block;
                    text-align: left;
                }
            }
        }
    }

    .col {
        .card-img-top {
            width: 100%;
            height: auto;
        }
    }
}