@charset "UTF-8";
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 20px;
}

/* カラーリスト */
.bg-white {
  background-color: #fff;
}

.bg-green {
  background-color: #3cb371;
}

.bg-grey {
  background-color: #dcdcdc;
}

.txt-white {
  color: #fff;
}

.txt-black {
  color: #000;
}

.txt-green {
  color: #2e8b57;
}

.clicked {
  background-color: #acacac !important;
}

.align-right {
  text-align: right !important;
}

/* 非表示化 */
.not-active {
  display: none;
}

/* フキダシ一般 */
.balloon-general {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.balloon-general .faceicon {
  margin-left: 10px;
  -webkit-box-ordinal-group: 3 !important;
      -ms-flex-order: 2 !important;
          order: 2 !important;
}

.balloon-general .faceicon img {
  width: 200px;
  height: auto;
}

.balloon-general .says {
  font-size: 1.2em;
  max-width: 500px;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  vertical-align: middle;
  line-height: 1.5;
  padding: 15px;
  border-radius: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffa200;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 !important;
}

.balloon-general .says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  right: -26px;
  border-left: 22px solid #ffa200;
}

/* ヘッダー */
header {
  background-color: #0F9954;
  position: fixed;
  z-index: 100;
  width: 100%;
}

header a {
  font-family: 'Wawati SC',sans-serif;
  color: white !important;
}

header #site-title {
  font-size: 1.8em;
}

header .navbar-nav {
  margin-left: auto;
  padding: 0 20px;
}

header .navbar-nav .menu-item {
  font-size: 1.5em;
  padding-left: 20px !important;
}

header .navbar-nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* index.php */
.balloon {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.balloon .faceicon {
  margin-left: 10px;
  -webkit-box-ordinal-group: 3 !important;
      -ms-flex-order: 2 !important;
          order: 2 !important;
}

.balloon .faceicon img {
  width: 200px;
  height: auto;
}

.balloon .says {
  font-size: 1em;
  max-width: 500px;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  vertical-align: middle;
  line-height: 1.5;
  padding: 15px;
  border-radius: 12px;
  font-weight: bold;
  color: #ffffff;
  background: #C4C423;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 !important;
}

.balloon .says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  right: -26px;
  border-left: 22px solid #C4C423;
}

.balloon .no-favorite {
  padding: 50px;
}

.jumbotron {
  background: url("../img/main/main-background-image.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
}

.jumbotron .container {
  font-family: 'HanziPen SC',sans-serif;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.jumbotron .container p {
  color: white;
  font-family: 'Osaka',sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: inline;
  font-size: 4em;
}

.jumbotron .container p span {
  font-weight: bold;
  font-size: 1.1em;
}

.jumbotron .container p .intro-emphasis1 {
  color: red;
}

.jumbotron .container p .intro-emphasis2 {
  color: #2f00ff;
}

/* 各カテゴリ */
.category {
  padding: 2.0em 0 4.0em;
  color: white;
}

.category h2 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  font-family: 'HanziPen SC',sans-serif;
  font-weight: bold;
}

.category ul {
  padding: 0;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category ul li {
  border-radius: 50%;
  text-align: center;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 20px;
}

.category ul li img {
  margin: 0 auto;
}

.category ul li .mark-question {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 30%;
}

.category ul li p {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.0em;
}

.category ul li p span {
  font-size: 0.8em;
}

.category .form {
  text-align: center;
  margin: 0 auto;
}

.category .form select {
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#category-1 #leaf-attachment-1 {
  width: 60%;
  position: absolute;
  top: 17%;
  left: 20%;
}

#category-1 #leaf-attachment-2 {
  width: 60%;
  position: absolute;
  top: 15%;
  left: 20%;
}

#category-1 #leaf-attachment-3 {
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
}

#category-1 #leaf-attachment-4 {
  width: 45%;
  position: absolute;
  top: 7%;
  left: 24%;
}

#category-2 #leaf-pattern-1 {
  width: 25%;
  position: absolute;
  top: 15%;
  left: 38%;
}

#category-2 #leaf-pattern-2 {
  width: 38%;
  position: absolute;
  top: 12%;
  left: 30%;
}

#category-2 #leaf-pattern-3 {
  width: 42%;
  position: absolute;
  top: 5%;
  left: 30%;
}

#category-2 #leaf-pattern-4 {
  width: 55%;
  position: absolute;
  top: 10%;
  left: 23%;
}

#category-2 #leaf-pattern-5 {
  width: 60%;
  position: absolute;
  top: 17%;
  left: 20%;
}

#category-3 #leaf-shape-1 {
  width: 50%;
  position: absolute;
  top: 7%;
  left: 26%;
}

#category-3 #leaf-shape-2 {
  width: 55%;
  position: absolute;
  top: 10%;
  left: 23%;
}

#category-3 #leaf-shape-3 {
  width: 40%;
  position: absolute;
  top: 7%;
  left: 30%;
}

#category-3 #leaf-shape-4 {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 26%;
}

#category-3 #leaf-shape-5 {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 30%;
}

#category-3 #leaf-shape-6 {
  width: 30%;
  position: absolute;
  top: 7%;
  left: 35%;
}

#category-3 #leaf-shape-7 {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 30%;
}

#category-3 #leaf-shape-8 {
  width: 40%;
  position: absolute;
  top: 7%;
  left: 30%;
}

#category-3 #leaf-shape-9 {
  width: 25%;
  position: absolute;
  top: 3%;
  left: 37%;
}

#category-3 #leaf-shape-10 {
  width: 25%;
  position: absolute;
  top: 12%;
  left: 38%;
}

#category-3 #leaf-shape-11 {
  width: 15%;
  position: absolute;
  top: 10%;
  left: 43%;
}

#category-4 #leaf-blade-1 {
  width: 30%;
  position: absolute;
  top: 11%;
  left: 34%;
}

#category-4 #leaf-blade-2 {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 24%;
}

#category-4 #leaf-blade-3 {
  width: 55%;
  position: absolute;
  top: 10%;
  left: 22%;
}

#category-4 #leaf-blade-4 {
  width: 55%;
  position: absolute;
  top: 12%;
  left: 23%;
}

#category-4 #leaf-blade-5 {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 31%;
}

#category-5 #leaf-edge-1 {
  width: 45%;
  position: absolute;
  top: 7%;
  left: 30%;
}

#category-5 #leaf-edge-2 {
  width: 45%;
  position: absolute;
  top: 9%;
  left: 30%;
}

#category-5 #leaf-edge-3 {
  width: 45%;
  position: absolute;
  top: 7%;
  left: 30%;
}

#category-5 #leaf-edge-4 {
  width: 45%;
  position: absolute;
  top: 9%;
  left: 30%;
}

#category-5 #leaf-edge-5 {
  width: 45%;
  position: absolute;
  top: 9%;
  left: 30%;
}

#category-5 #leaf-edge-6 {
  width: 45%;
  position: absolute;
  top: 9%;
  left: 30%;
}

#category-5 #leaf-edge-7 {
  width: 45%;
  position: absolute;
  top: 9%;
  left: 30%;
}

#category-6 #leaf-vein-1 {
  width: 35%;
  position: absolute;
  top: 10%;
  left: 33%;
}

#category-6 #leaf-vein-2 {
  width: 35%;
  position: absolute;
  top: 9%;
  left: 33%;
}

#category-6 #leaf-vein-3 {
  width: 35%;
  position: absolute;
  top: 3%;
  left: 33%;
}

#category-6 #leaf-vein-4 {
  width: 45%;
  position: absolute;
  top: 13%;
  left: 27%;
}

#category-7 #leaf-lateral-vein-1 {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 33%;
}

#category-7 #leaf-lateral-vein-2 {
  width: 45%;
  position: absolute;
  top: 9%;
  left: 27%;
}

#category-7 #leaf-lateral-vein-3 {
  width: 40%;
  position: absolute;
  top: 11%;
  left: 35%;
}

#category-7 #leaf-lateral-vein-4 {
  width: 40%;
  position: absolute;
  top: 12%;
  left: 33%;
}

/* 検索ボタン */
.search-button {
  padding: 30px 0;
  text-align: center;
}

.search-button input {
  font-family: 'Wawati SC',sans-serif;
  font-size: 30px;
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 70% 0%;
}

.search-button input:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
  -webkit-transition: .4s;
  transition: .4s;
  color: #ffe88b;
}

/* list.php */
.results .says {
  background: #0F9954;
}

.results .says:after {
  border-left: 22px solid #0F9954;
}

/* フッターメニュー */
footer {
  height: auto;
  color: #fff;
  background-color: #3cb371;
}

footer .container {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
}

footer .footB {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footB ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

footer .footB a {
  display: block;
  padding: 0;
  padding-bottom: 2px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-right: 0px;
  border-bottom: 3px solid #3cb371;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 3px;
}

footer .footB a:hover {
  border-bottom: 3px solid #fff;
}

@media (min-width: 1024px) {
  .footB ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footB a {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

/* トップに戻るボタン */
.scroll-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 100;
  background-color: #006329;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 70% 0%;
}

.scroll-top .scroll-top:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* favorites.php */
.favorites-page .no-favorite {
  padding-bottom: 20px;
}

.favorites-page .favorite-items {
  background-color: #93C031;
}

.favorites-page h3 {
  padding: 0 !important;
}

/* details.php */
h2 {
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
  font-family: 'HanziPen SC',sans-serif;
  font-weight: bold;
}

#tree-detail {
  margin-right: 10px;
}

.diary-button {
  padding: 50px 0;
}

.card-body {
  text-align: center;
}

.card-body .btn-group {
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
  font-family: 'HanziPen SC',sans-serif;
  font-weight: bold;
}

.tree-detail {
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  height: auto;
}

.tree-detail img {
  width: 40% !important;
  padding: 0 10px;
}

.tree-detail .feature .feature-content {
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.tree-detail .feature .feature-content p {
  display: inline-block;
  text-align: left;
}

.tree-detail .feature .feature-content h4 {
  padding-top: 50px;
}

.tree-detail .recipe-link {
  margin-top: 20px;
}

.tree-detail .recipe-link input {
  padding: 10px;
  margin: 10px 0;
  background-color: #e8e8e8;
}

.tree-detail .wikipedia-link {
  padding-top: 20px;
}

.tree-detail .col .card-img-top {
  width: 100%;
  height: auto;
}

.tree-detail a {
  margin: 0px 10px;
}

/* signup.php */
.signup-form {
  background: url("../img/main/signup-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.signup-form h2 {
  color: white;
}

.signup-form .container {
  color: white;
  font-weight: bold;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(0, 150, 50, 0.8);
  padding: 80px 0;
}

.signup-form .container h3 {
  color: white;
  font-weight: bold;
  font-family: 'HanziPen SC',sans-serif;
}

.signup-form .container input {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.signup-form .container #signup-button {
  margin-top: 10px;
}

/* goodbye.php */
.logout-page {
  background: url("../img/main/logout-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.logout-page h2 {
  color: white;
}

.logout-page .container {
  color: white;
  font-weight: bold;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(0, 150, 50, 0.8);
  padding: 40px 0;
}

.logout-page .container a {
  margin: 0px 10px;
}

/* welcome.php */
.welcome-page {
  background: url("../img/main/welcome-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.welcome-page h2 {
  color: white;
}

.welcome-page .container {
  color: white;
  font-weight: bold;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(0, 150, 50, 0.8);
  padding: 80px 0;
}

.welcome-page a {
  margin: 0px 10px;
}

/* success.php */
.success-page {
  background: url("../img/main/success-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.success-page h2 {
  color: white;
}

.success-page .container {
  color: white;
  font-weight: bold;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(0, 150, 50, 0.8);
  padding: 80px 0;
}

/* login.php */
.login-page {
  background: url("../img/main/login-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.login-page h2 {
  color: white;
}

.login-page .container {
  color: white;
  font-weight: bold;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(0, 150, 50, 0.8);
  padding: 80px 0;
}

.login-page .container h3 {
  color: white;
  font-weight: bold;
  font-family: 'HanziPen SC',sans-serif;
}

.login-page .container input {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.login-page .container #login-button {
  margin-top: 10px;
}

/* memo_post.php */
.memo-post-page {
  background: url("../img/main/memo-post-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.memo-post-page h2 {
  color: white;
}

.memo-post-page .container {
  color: white;
  font-weight: bold;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(0, 150, 50, 0.8);
  padding: 80px 0;
}

.memo-post-page .container h3 {
  color: white;
  font-weight: bold;
  font-family: 'HanziPen SC',sans-serif;
}

.memo-post-page .container input, .memo-post-page .container textarea {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.memo-post-page .container #login-button {
  margin-top: 10px;
}

.memo-post-page .container .buttons {
  padding: 20px;
}

.memo-post-page .container .buttons a {
  margin: 0 10px;
}

/* memos-page.php */
.memos-page {
  background: url("../assets/memos-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  padding-top: 100px;
}

.memos-page .memo-list {
  width: 80%;
  margin: 0 auto;
}

.memos-page .memo-title {
  padding: 10px 0 20px 0 !important;
}

.memos-page h2 {
  color: white;
}

.memos-page h3 {
  text-align: center;
}

.memos-page span {
  color: red;
  font-weight: bold;
}

.memos-page .leave-message {
  text-align: center;
  padding: 30px 0px 10px 0px;
}

/* calender.php */
.calender-page {
  background: url("../img/main/memo-post-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.calender-page h2 {
  color: white;
}

.calender-page .container {
  padding: 50px;
  font-family: 'Noto Sans', sans-serif;
}

.calender-page .container .calender {
  background-color: #93C031;
  padding: 30px;
  margin-top: 50px;
}

.calender-page .container .calender h3 {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0 0 20px 0 !important;
}

.calender-page .container .calender h3 a {
  text-decoration: none;
}

.calender-page .container .calender tbody {
  background-color: white;
  border: 1px solid #aeaeae;
}

.calender-page .container .calender th {
  text-align: center;
  background-color: rgba(225, 225, 225, 0.8);
}

.calender-page .container .calender td {
  height: 80px;
  width: 10%;
}

.calender-page .container .calender tr {
  padding: 0;
}

.calender-page .container .calender .today {
  background: orange;
  padding: 0;
}

.calender-page .container .calender th:nth-of-type(1), .calender-page .container .calender td:nth-of-type(1) {
  color: red;
}

.calender-page .container .calender th:nth-of-type(7), .calender-page .container .calender td:nth-of-type(7) {
  color: blue;
}

.calender-page .container .calender .record-button {
  text-align: center;
}

.calender-page .container .calender .record-button a {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .calender-page .container {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  .calender-page .container {
    width: 80%;
  }
}

@media screen and (min-width: 1280px) {
  .calender-page .container {
    width: 60%;
  }
}

/* calender_post.php */
.calender-post-page {
  background: url("../img/main/memo-post-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 750px;
  position: relative;
}

.calender-post-page h2 {
  color: white;
}

.calender-post-page .container {
  color: white;
  font-weight: bold;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(0, 150, 50, 0.8);
  padding: 80px 0;
}

.calender-post-page .container h3 {
  color: white;
  font-weight: bold;
  font-family: 'HanziPen SC',sans-serif;
  text-align: center;
}

.calender-post-page .container input, .calender-post-page .container textarea {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.calender-post-page .container #login-button {
  margin-top: 10px;
}

.calender-post-page .container .buttons {
  padding: 20px;
}

.calender-post-page .container .buttons a {
  margin: 0 10px;
}

/* chat.php */
.chat-page {
  background: url("../img/main/memos-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 100px;
}

.chat-page .comment {
  padding: 20px;
  margin: 10px 20px;
  background-color: #0F9954;
}

.chat-page .container .chat-list {
  margin: 0 auto !important;
}

.chat-page .container .chat-list h3 {
  padding-top: 20px;
}

.chat-page .container .search-comment {
  text-align: center;
  margin: 0 auto;
}

.chat-page .container .search-comment .wrap {
  display: inline-block;
  background-color: #93C031;
  margin: 10px;
  padding: 10px;
  color: #fff;
}

.chat-page .container .search-comment .wrap p {
  font-weight: bold;
  font-size: 1.5em;
}

.chat-page .container .search-comment .wrap form input {
  margin: 10px;
}

.chat-page .container .pt-3 {
  padding: 0 !important;
}

.chat-page .container .comment-item {
  background-color: #eeeeee !important;
  padding: 10px !important;
  display: inline-block;
  border-radius: 10px;
}

.chat-page .container .right-comment {
  text-align: right;
}

.chat-page .container .left-comment {
  text-align-last: left;
}

.chat-page .container .memo-list {
  margin: 0 auto;
}

.chat-page .container .memo-title {
  padding: 20px 0 20px 0 !important;
  font-family: 'HanziPen SC',sans-serif;
}

.chat-page .container h2 {
  color: white;
}

.chat-page .container .chat-date {
  color: grey;
}

.chat-page .container h3 {
  text-align: center;
}

.chat-page .container p {
  padding: 0 !important;
}

.chat-page .container .chat-pagination {
  text-align: center;
}

.chat-page .container .chat-pagination a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 1.5em;
}

.chat-page .container .leave-message {
  text-align: center;
  margin: 20px 0;
  padding: 30px 0px 10px 0px;
}

.chat-page .search-area input[type="text"] {
  padding: 5px 5px 3px;
  font-size: 16px;
  border: 1px solid #D6D6D6;
}

.chat-page .search-area input[type="text"]:focus {
  background: #F9F9F9;
}

.chat-page .search-result {
  margin-top: 20px;
}

.chat-page .search-result__hit-num span {
  font-weight: bold;
}

.chat-page #search-result__list {
  margin-top: 15px;
}

.chat-page #search-result__list span {
  display: inline-block;
  margin-right: 15px;
  padding: 5px;
  background: #F2F2F2;
}

@media screen and (max-width: 480px) {
  .chat-page {
    padding: 0px;
  }
  .chat-list {
    width: 100%;
  }
  h3 {
    padding-top: 100px !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  .chat-page {
    padding: 0px;
  }
  .chat-list {
    width: 100%;
  }
  h3 {
    padding-top: 100px !important;
  }
}

@media screen and (min-width: 1280px) {
  .chat-list {
    width: 80% !important;
  }
}

/* chat-post.php */
.chat-post-page {
  background: url("../img/main/memo-post-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.chat-post-page h2 {
  color: white;
}

.chat-post-page .container {
  color: white;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 150, 50, 0.8);
  padding: 80px 0;
}

.chat-post-page .container h3 {
  color: white;
  font-weight: bold;
  font-family: 'HanziPen SC',sans-serif;
}

.chat-post-page .container input, .chat-post-page .container textarea {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.chat-post-page .container #login-button {
  margin-top: 10px;
}

.chat-post-page .container .buttons {
  padding: 20px;
}

.chat-post-page .container .buttons a {
  margin: 0 10px;
}

/* recipe_list.php */
.recipe-list .card-text {
  padding: 0px !important;
}

/* recipe.php */
.recipe-page .container {
  background-color: #f0f0f0;
  width: 50%;
}

.recipe-page .container .recipe-container {
  margin-bottom: 30px;
}

.recipe-page .container h2 {
  padding: 10px;
  font-weight: bold;
}

.recipe-page .container .image-container {
  text-align: center;
}

.recipe-page .container .image-container img {
  width: 50%;
  height: auto;
}

.recipe-page .container h3 {
  text-align: left;
  padding: 10;
  font-weight: bold;
}

.recipe-page .container .recipe-materials:nth-child(odd) {
  background-color: #e3e3e3;
}

.recipe-page .container .recipe-materials .recipe_material_list {
  margin: 0 !important;
}

.recipe-page .container .recipe-materials .recipe_material_list .recipe_material {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipe-page .container .recipe-step .recipe-step-order {
  font-weight: bold;
  background-color: #3CB371;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  margin-right: 10px;
}

.recipe-page .container .recipe-remark {
  margin: 30px 0;
}

.recipe-page .container .recipe-remark .recipe-remark-title {
  font-weight: bold;
}

/* recipe-list.php */
.recipe-list {
  padding-top: 100px;
}

.recipe-list h2 {
  z-index: 100;
}

.recipe-list .recipe-items {
  background-color: #93C031;
}
/*# sourceMappingURL=style.css.map */